.todo-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.todo-container section {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    flex: 1;
}