
.todo-card-info {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #646cff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


input {
    width: 90%;
    border-width: 0 0 1px 0;
    padding: 0
}

.todo-card.new-todo {
    display: grid;
    gap: 5px;

}

.todo-card.new-todo button {
    justify-self: end;
}

button {
    display: grid;
    justify-self: end;
}